<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financeiro</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/modulos.css">
</head>

<%- include('includes/navbar') %>


    <body>
        <div class="container">
            <h1>Financeiro</h1>
            <p>Bem-vindo ao módulo financeiro!</p>
        </div>
    </body>

</html>