/* Estilo específico para a página de criar usuário */

/* Container do formulário */
.container {
    width: 60%;
    margin: 0 auto;
    padding-top: 100px;
    /* Espaçamento para não sobrepor a navbar */
}

/* Título */
h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

/* Estilizando o formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilizando os campos de input */
input,
select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

/* Botão de submit */
button {
    padding: 12px 20px;
    font-size: 18px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Ajuste para a responsividade */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    h1 {
        font-size: 24px;
    }

    form {
        padding: 15px;
    }
}