/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Barra de navegação fixa no topo */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #575757;
}

/* Adiciona espaçamento no topo para o conteúdo não ficar escondido atrás da navbar */
body {
    padding-top: 60px;
    /* Ajuste conforme necessário */
}

/* Responsividade */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .navbar a {
        margin: 10px 0;
    }

    h1 {
        font-size: 28px;
    }

    table {
        width: 100%;
        margin: 10px 0;
    }
}

/* Outros estilos gerais podem ser colocados aqui */